html {
    scroll-behavior: smooth;
}

#body {
    background-color: #161719;
    color: #FAFAFA;
}

.blue-1 {
    color: #00BDFF;
}

.blue-2 {
    color: #0089D0;
}

.blue-3 {
    color: #0C4B5F;
}

.fs-32 {
    font-size: 32px;
}
